<%- messages() %>
<h1>Welcome to CSE Motors!</h1>
<div class="image-container">
    
    <img class="index" src="../images/vehicles/hummer.jpg" alt="example"/>
    <div class="overlay-box">
        <div>
            <h2>Hummer</h2>
            <p>4 doors</p>
            <p>Is very big</p>
        </div>
        <button type="button">Own Today!</button>
    </div>
    
</div>
<div class="div-columns">
    <div class="reviews">
        <h2>Hummer Reviews</h2>
        <ul>
            <li>"I'm humming through the street!" (4/5)</li>
            <li>"This car is the bestest" (5/5)</li>
            <li>"Very comfortable" (4/5)</li>
        </ul>
    </div>
    <div class="upgrade">
        <h2>Hummer Upgrades</h2>
        <ul>
            <li>
                <div id="upgrade-img">
                    <img src="../images/upgrades/flux-cap.png" alt="Flux Capacitor"/>
                </div>
                <a href="/account/login">Flux Capacitor</a>
            </li>
            <li>
                <div id="upgrade-img">
                    <img src="../images/upgrades/flame.jpg" alt="Flame Decals"/>
                </div>
                <a href="/account/login">Flame Decals</a>
            </li>
            <li>
                <div id="upgrade-img">
                    <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper stickers"/>
                </div>
                <a href="/account/login">Bumper Stickers</a>
            </li>
            <li>
                <div id="upgrade-img">
                    <img src="../images/upgrades/hub-cap.jpg" alt="Hub Caps"/>
                </div>
                <a href="/account/login">Hub Caps</a>
            </li>
        </ul>
    </div>
</div>